:root {
    --color-primary: #00754a;
    --color-secondary: #1e3932;
    --color-extra: #d4e9e2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'SoDo Sans';
    line-height: 1.4;
    color: black;
}

a {
    color: black;
}

ul {
    list-style: none;
}

p {
    margin: 5px 0;
    line-height: 1.7;
}

img {
    max-width: 100%;
}

section a {
    color: white;

}

/* Navigation Bar */
.navbar {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%),
    0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
    position: relative; /* Ensure relative positioning for absolute elements */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    margin: 0 13px;
    font-weight: bold;
    position: relative; /* Ensure relative positioning for absolute elements */
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--color-primary);

}

.navbar-nav-left {
    font-size: 14px;
    font-weight: bolder;
    line-height: 21px;
    text-transform: uppercase;
    flex: 1;
    margin-left: 24px;
    letter-spacing: 0.16em;
}

.navbar-nav-left li {
    padding-bottom: 4px;
    
  }


.navbar-nav-right {
    margin-right: 10px;
}

.navbar-nav-right li:first-child a {
    display: flex;
    align-items: center;
    margin: 0 33px;
}

.navbar-nav-right li:nth-child(2) {
    margin: 0 5px;
}

.navbar-nav-right .btn {
    font-family: 'SoDo Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.navbar-nav-right li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    
}

.navbar-nav-right img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.navbar-nav-right a:hover img,
.navbar-nav-right a:hover span {
    filter: brightness(0) saturate(100%) invert(20%) sepia(97%) saturate(2000%) hue-rotate(94deg) brightness(95%) contrast(91%);
}

.nav-menu-underline,
.nav-rewards-underline,
.nav-giftcards-underline {
    position: absolute;
    bottom: -36px; /* Adjust distance from menu text */
    left: 0;
    width: 100%; /* Full width of the navbar */
    height: 6px;
    background-color: var(--color-primary);
}

.nav-green-bar {
    width: 100%;
    height: 50px;
    background-color: var(--color-secondary);
    color: white;
    letter-spacing: 0.08em;
}


/* BOX */
.box {
    margin-bottom: 30px;
}

.box-inner {
    max-width: 700px;
    margin: 20px auto;
}

.box-text {
    max-width: 500px;
    text-align: center;
    justify-self: center;
    padding: 20px 0;
}

.box-text-center {
    max-width: 700px;
    margin: 0px auto;
    margin-top: 66px;
}

.box-text .btn {
    margin-top: 20px;
}

/* Grid Styles */
.grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.grid-col-2 img {
  justify-self: center;
}

.grid-reversed :first-child {
    order: 2;
}

/* Background */
.bg-primary {
    background-color: var(--color-primary);
    color: white;
}

.bg-secondary {
    background-color: var(--color-secondary);
    color: white;
}

.bg-extra {
    background-color: var(--color-extra);
    color: black;
}

.bg-dark {
    background-color: var(--color-dark);
    color: black;
}

.bg-caper {
    background-color: #c0e8a6;
    color: black;
}

.bg-flirt {
    background-color: #a3029a;
    color: white;
}

.bg-skeptic {
    background-color: #d3eae2;
    color: black;
}

/* Buttons */
.btn {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px solid; /* Use a general border property */
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.btn-box {
    font-size: 16px;
}

.btn-margin {
    margin-bottom: 20px;
}

.btn-white {
    border-color: #000;
    color: #000;
}   

.btn-white:hover {
    background-color: rgba(0, 0, 0, 0.06);
}   

.btn-white-outline {
    border-color: #fff;
    color: #fff;
}   

.btn-white-outline:hover {
    background-color: rgba(0, 0, 0, 0.2);
}   

.btn-black {
    border-color: #000;
    color: #fff;
    background-color: #000;
}

.btn-black:hover {
    border-color: #333;
    color: #fff;
    background-color: #333;
}

.btn-green {
    border-color: var(--color-primary);
    color: white;
    background-color: var(--color-primary);
    
}   




/* Text Styling */
.text-center {
    text-align: center;
}

.text-xl {
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 600;
    margin-bottom: 20px;
}

.text-lg {
    font-size: 48px;
    margin-bottom: 20px;
}

.text-md {
    font-size: 24px;
    margin-bottom: 20px;
}

.text-sm {
    font-size: 19px;
    margin-bottom: 20px;
}

.text-tiny {
    font-size: 16px;
    margin-bottom: 20px;
}

.text-very-tiny {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

.text-navbar {
    font-style: normal;
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
}

.color-transparent {
    color: rgba(0, 0, 0, 0.74);
}

.color-transparent2 {
    color: rgba(0, 0, 0, 0.6);
}

.text-upper {
    text-transform: uppercase;
}

.text-under-navbar {
    padding-top: 16px;
    margin-left:40px;
    font-size: 14px;
}

/* Padding */
.py-sm {
    padding: 10px 0;
}

.py-md {
    padding: 20px 0;
}

.py-lg {
    padding: 40px 0;
}

/* Hamburger Menu Icon */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    background: none;
    border: none;
    z-index: 10;
    transition: all 0.25s;
    display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 2px;
    background: #5b5b5b;
    transform: rotate(0);
    transition: all 0.25s;
}

.hamburger-middle {
    transform: translateY(8px);
}

.hamburger-bottom {
    transform: translateY(16px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateX(6px) translateY(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateX(-6px) translateY(6px);
}

/* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 80px;
    right: 0;
    color: #000;
    background-color: white;
    width: 85%;
    height: 100%;
    padding: 30px;
    box-shadow: inset 0 1px 3px rgb(0 0 0 / 10%),
        inset 0 2px 2px rgb(0 0 0 / 6%),
        inset 0 2px rgb(0 0 0 / 7%);
    transition: all 0.3s;
}

.mobile-menu img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.mobile-menu ul {
    line-height: 3;
    border-bottom: #777 solid 1px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.mobile-menu a {
    text-decoration: none;
    font-size: 20px;
}

.mobile-menu a:hover img,
.mobile-menu a:hover span {
    filter: brightness(0) saturate(100%) invert(20%) sepia(97%) saturate(2000%) hue-rotate(94deg) 
    brightness(95%) contrast(91%);
}

.mobile-menu div {
    margin-top: 20px;
}

.mobile-menu div a {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.hidden {
    transform: translateX(100%);
}

.no-scroll {
    overflow: hidden;
}

/* Dropdown option */
.accordion {
    margin: 0 40px;
    overflow: hidden;
    border: none;
}

.accordion-header {
    background-color: #fff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-header::after {
    content: url("img/arrow-up.svg");
    transition: transform 0.3s ease;
}
.accordion-header.active::after {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 10px 0 ;
}

.accordion-content ul {
    list-style-type: none;
}

.accordion-content li {
    padding: 15px 0;
}

.accordion-content li a {
    color: #686868;
    text-decoration: none;
}

.accordion-content li a:hover {
    text-decoration: none;
    color: black;
}

/* Footer & Social */
.footer a {
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.divider-footer {
    width: 100%; /* Adjusted width to fill the container */
    height: 1px;
    background-color: #ccc;
    margin: 30px auto; /* Centering the divider horizontally */
}

.divider {
    width: 95%; /* Adjusted width to fill the container */
    height: 1px;
    background-color: #ccc;
    margin: 20px auto; /* Centering the divider horizontally */
    margin-bottom: 45px;
}

.footer-container {
    width: 100%;
    max-width: 1440px;
    margin: 20px auto;
    margin-bottom: 40px;
}

.social {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.social img {
    width: 35px;
    height: 35px;
}

.social a {
    text-decoration: none;
    margin-right: 20px;
}


@media(max-width: 770px) {
    .hamburger {
        display: block;
    }

    .box-text-center {
        max-width: 600px;
        margin-top: 56px;
    }

    .grid-col-2 {
        grid-template-columns: 1fr;
    }

    .grid-reversed :first-child{
        order: 0;
    }

    /* Adjust Logo to the top right cornor */
    .navbar {
        padding: 10px;
    }

    .navbar-brand img {
        height: 40px;
        width: 40px;
        margin-left: 8px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .navbar .navbar-nav-left,
    .navbar .navbar-nav-right {
        display: none;
    }

    .accordion {
        margin: 20px 20px;
    }

    .footer-container {
        margin-left: 20px;
    }
}

@media(max-width: 960px) {
    .text-xl {
        font-size: 30px;
    }

    .text-lg {
        font-size: 25px;
    }

    .text-md {
        font-size: 19px;
    }

    .navbar {
        padding: 10px;
        font-size: 15px;
    }

    .navbar-nav-left {
        margin-left: 10px;
    }
    
    .navbar-nav-right li:first-child a {
        margin: 5px;
    }

    .navbar-brand img {
        height: 45px;
        width: 45px;
        margin-left: 8px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media(min-width: 1440px) {
    .box {
        max-width: 1440px;
        margin-right:auto;
        margin-left: auto;
        font-size: 14px;
    }

    .navbar-brand img {
        height: 50px;
        width: 50x;
        margin-left: 20px;
    }
}
